body{

    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
            
}

/* container */
.container{
    flex: 1;
}

/* Navbar */

.navbar{
    height: 5 rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important; 
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222 ;
    margin: 1rem;

}

.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info-links, .f-info-social, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i{
    font-size: 1.2rem;
    margin: 1rem;

}
.f-info{
    text-align: center;
    height: 8 rem;
    background-color: antiquewhite;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: apace-evenly;
}

/* Card */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.edit-btn, .btn-signup{
   background-color:  #fe424d !important;
   border: none !important;
}

/* Show Page */
.show-img{
    height: 45vh
}
.edit-btn , .add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.btns{
    display: flex;

}
.show-card{
    padding-left: 0;
    padding-right: 0;
}



.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    font-size: 2rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #bbb;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
}


/* .review-card{
    border: rgb(11, 0, 0) !important;
} */